body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 100px;
    padding: 20px;
}

h1 {
    margin-bottom: 30px;
}

.payment-box {
    background: #1e293b;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background: #22c55e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

header {
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Modal */
#modal {
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}
